.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.AppBarCustom {
  background-color: #01c13b !important;
}
.SortBtn {
  float: right !important;
}

.LogoContainer {
  display: inline-grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.Cell {
  text-align: center;
  width: 100%;
  padding-bottom: 15px;
  padding-top: 15px;
}

.UpperContainer {
  display: flex;
  flex-direction: column;
}

.TeamName {
  position: absolute;
  bottom: 15px;
  left: 15px;
  color: white;
  font-size: x-large;
}

.TextCell {
  display: table-cell;
  vertical-align: bottom;
  position: relative;
}

.BlackContainer {
  background-color: #333333;
}

.TextContent {
  padding-left: 15px;
}

.Loading, .Error {
  position: fixed; 
  top: 50%;
  left: 50%;
  
}

.Error {
  color: red;
  font-size: xx-large;
}
